<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Academy_SmsSubscription::subscription" title="SMS Subscription Grid" sortOrder="10" >
                    <resource id="Academy_SmsSubscription::index" title="Subscription Listing" sortOrder="10" />
                    <resource id="Academy_SmsSubscription::message" title="Subscription Message" sortOrder="20" />
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Academy_SmsSubscription::module_config" title="Academy SMS Subscription configuration"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
