<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <sms_subscription>
            <general>
                <enable>0</enable>
                <url>https://kbbswfakqv.cfolks.pl/api/sms/send</url>
                <apikey>Tra1l3rParkB0y5</apikey>
                <max_attemps>5</max_attemps>
            </general>
        </sms_subscription>
    </default>
</config>
