<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">

    <menu>
        <add id="Academy_SmsSubscription::subscription_manage"
             title="SMS Subscription" module="Academy_SmsSubscription" sortOrder="999"
             resource="Magento_Backend::content" />
        <add id="Academy_SmsSubscription::subscription_manage_index"
             title="Grid" translate="title" module="Academy_SmsSubscription"
             parent="Academy_SmsSubscription::subscription_manage" sortOrder="10"
             dependsOnModule="Academy_SmsSubscription"
             action="subscription/manage/index"
             resource="Academy_SmsSubscription::index"/>
    </menu>
</config>
